In [1]:
"""1.A database is an organized collection of data, so that it can be easily accessed and managed.

You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.
 differnce between SQL and NOSQL:
 
SQL:
 RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)	                   Non-relational or distributed database system.
These databases have fixed or static or predefined schema	       They have dynamic schema
These databases are not suited for hierarchical data storage.	   These databases are best suited for hierarchical data storage.
These databases are best suited for complex queries	               These databases are not so good for complex queries
Vertically Scalable                                             	Horizontally scalable
Follows ACID property	                                            Follows CAP(consistency, availability, partition tolerance)
Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc	            Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

"""

'1.A database is an organized collection of data, so that it can be easily accessed and managed.\n\nYou can organize data into tables, rows, columns, and index it to make it easier to find relevant information.\n differnce between SQL and NOSQL:\n \nSQL:\n RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)\t                   Non-relational or distributed database system.\nThese databases have fixed or static or predefined schema\t       They have dynamic schema\nThese databases are not suited for hierarchical data storage.\t   These databases are best suited for hierarchical data storage.\nThese databases are best suited for complex queries\t               These databases are not so good for complex queries\nVertically Scalable                                             \tHorizontally scalable\nFollows ACID property\t                                            Follows CAP(consistency, availability, partition tolerance)\nExamples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc\t            Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc\n\n'

In [ ]:
2.
"""DDL is a set of SQL commands used to create, modify, and delete database structures but not data.
->CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
EX:
CREATE TABLE Subject
(
Sub_ID INT, 
Sub_Name varchar(20)
);

-> DROP:This command is used to delete objects from the database.
EX:DROP TABLE table_name;

-> ALTER:This is used to alter the structure of the database.
EX:ALTER TABLE table_name
              ADD (Columnname_1  datatype,
              Columnname_2  datatype,
              â€¦
              Columnname_n  datatype);
              
->  TRUNCATE:This is used to remove all records from a table, including all spaces allocated for the records are removed.
EX:TRUNCATE TABLE Student_details;"""

3.
""" DML stands for Data Manipulation Language, which is a set of SQL commands used to insert, update, and delete data in a database table. DML commands are used to modify the data stored in a table.

The following are some of the commonly used DML commands and their usage:

INSERT: The INSERT command is used to insert new data into a table. For example, to insert a new row into the "users" table with ID 1, name "John", and email "john@example.com", we can use the following SQL statement: UPDATE: The UPDATE command is used to update existing data in a table. For example, to update the email address of the user with ID 1 to "john.doe@example.com", we can use the following SQL statement: sql DELETE: The DELETE command is used to delete data from a table. For example, to delete the user with ID 1 from the "users" table, we can use the following SQL statement:"""

In [3]:
""" 4. DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database table. 
DQL commands are used to query the data stored in a table.

The most commonly used DQL command is SELECT. 
The SELECT command is used to retrieve data from one or more tables. Here's an example of how to use the SELECT command:
SELECT* from TABLE table_name;"""

" 4. DQL stands for Data Query Language, which is a set of SQL commands used to retrieve data from a database table. \nDQL commands are used to query the data stored in a table.\n\nThe most commonly used DQL command is SELECT. \nThe SELECT command is used to retrieve data from one or more tables. Here's an example of how to use the SELECT command:\nSELECT* from TABLE table_name;"

In [4]:
""" 5. a primary key is a unique identifier for each row in a table.
It is a column or combination of columns that uniquely identifies each record in a table. 
The primary key constraint ensures that the values in the primary key column(s) are unique and not null.
For example, in a "users" table, the "id" column can be the primary key if each user has a unique ID number.

A foreign key is a column or combination of columns in one table that refers to the primary key of another table.
It establishes a relationship between two tables, where the values in the foreign key column(s) of one table match the values in the primary key column(s) of another table.
For example, in a "orders" table, the "user_id" column can be a foreign key that refers to the "id" column of the "users" table, indicating which user placed each order.
"""

' 5. a primary key is a unique identifier for each row in a table.\nIt is a column or combination of columns that uniquely identifies each record in a table. \nThe primary key constraint ensures that the values in the primary key column(s) are unique and not null.\nFor example, in a "users" table, the "id" column can be the primary key if each user has a unique ID number.\n\nA foreign key is a column or combination of columns in one table that refers to the primary key of another table.\nIt establishes a relationship between two tables, where the values in the foreign key column(s) of one table match the values in the primary key column(s) of another table.\nFor example, in a "orders" table, the "user_id" column can be a foreign key that refers to the "id" column of the "users" table, indicating which user placed each order.\n'

6.
import mysql.connector
mydb=mysql.connector.connect{
host='localhost'
user='abc'
password='password'
}
print(mydb)
mycursor=mydb.cursor()
mydb.close()

The cursor() method in Python is used to create a cursor object, which allows us to execute SQL commands on the database. The cursor object provides methods to execute SQL commands, fetch data from the database, and handle transactions.

The execute() method is used to execute SQL commands on the database using the cursor object. It takes an SQL query as its argument and returns the result of the query. For example, to execute a SELECT query on a MySQL database using the cursor object.

7.
SELECT: Specifies the columns to be retrieved from the database table. FROM: Specifies the table from which to retrieve the data. JOIN: Combines multiple tables based on a common column. WHERE: Filters the data based on certain conditions. GROUP BY: Groups the data based on one or more