In [1]:
#1.
"""while loop: with while loop we can execute a set of statements as long as the conditionis true"""
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [2]:
""" for loop: it is used for iterating over the set of statement"""
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [3]:
#2.
#for loop
sum=0
product=1
for i in range(1,11):
    sum=sum+1
    product=product*i
print("the sum of 10 no.s are",sum)
print("the product of the 10 no.s are",product)

the sum of 10 no.s are 10
the product of the 10 no.s are 3628800

In [2]:
#while loop
sum=0
products =1
i=1
while (i<11):
    sum = sum+i
    products = products*i
    i +=1
print("sum of 10 nos are:",sum)
print("product of 10 nos are:",products)

sum of 10 nos are: 55
product of 10 nos are: 3628800

In [18]:
#3.
units = int(input('Enter Units: '))
bill = 0
if units <= 100:
    bill += 4.5*units
    units -= 100
elif units > 100 and units <= 200:
    bill += 450
    units -= 100
    bill += 6*units
elif units > 200 and units <= 300:
    bill += 450+600
    units -= 200
    bill += 10*units
elif units > 300:
    bill += 450+600+1000
    units -= 300
    bill += 20*units
print(f'Total Electricity Bill Rs.{bill}')

Enter Units:  310

Total Electricity Bill Rs.2250

In [19]:
#4.for loop
l=list(range(1,101))
l1=[]
for i in l:
    c=i**3
    if c%4==0 or c%5==0:
        l1.append(i)
print(l1)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [21]:
#while loop
l2=[]
i=1
while i<=100:
    c=i**3
    if c%4==0 or c%5==0:
        l2.append(i)
    i+=1
print(l2)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [39]:
def vowel_count(str):
    count=0
    vowel=set("aeiouAEIOU")
    for i in str:
        if i in vowel:
            count=count+1
    print("no. of vowels:",count)

In [40]:
str= "I want to become a data scientist"
vowel_count(str)

no. of vowels: 12